<button mat-button routerLink="/patron" routerLinkActive="active" class="link blue">
    <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
    <span>Patron</span>
</button>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="patrons" [trackBy]="trackById" multiTemplateDataRows matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let patron"> {{patron.personal.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let patron">
            <div class="column">
                <span>{{patron.personal.address}}</span>
                <span>{{patron.personal.city}}, {{patron.personal.state}} {{patron.personal.zip}}</span>
            </div>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="signForVisit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let patron">
            <button [disabled]="!(patron.consent.dateOfConsent | daysUntil)" mat-button class="link purple" (click)="openSignatureDialog(patron)">
                <fa-icon [icon]="['fas', 'signature']"></fa-icon>
                <span>Sign</span>
            </button>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let patron">
            <button mat-button class="link blue" (click)="navigateToPatronPage(patron)">
                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                <span>Edit</span>
            </button>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let patron">
            <button mat-button class="link red" (click)="openDeleteDialog(patron)">
                <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                <span>Delete</span>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let patron" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail" [@detailExpand]="patron == expandedElement ? 'expanded' : 'collapsed'">
                <div class="column full-width">
                    <div class="row full-width">
                        <div class="column">
                            <div class="column">
                                <label>Date of Birth</label>
                                <span>{{patron.personal.dob | date:'MM/dd/yyy'}}</span>
                            </div>
                            <div class="column">
                                <label>Phone Number</label>
                                <span>{{patron.personal.phone}}</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="column">
                                <label>Patron Since</label>
                                <span>{{patron.dateOfCreation | date:'MM/dd/yyy'}}</span>
                            </div>
                            <div class="column">
                                <label>Last Visit</label>
                                <span>{{patron.visits | lastVisit}}</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="column">
                                <label>Total Visits</label>
                                <span>{{patron.visits.length}}</span>
                            </div>
                            <div class="column">
                                <label>Days Untill Re-apply</label>
                                <span>{{patron.consent.dateOfConsent | daysUntil}}</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="column">
                                <label>Number in Family</label>
                                <span>{{patron.eligibility.sectionB.membersInHousehold}}</span>
                            </div>
                            <div class="column">
                                <label>Household Income</label>
                                <span>{{patron.eligibility.sectionB.monthlyGrossIncome}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <p *ngIf="patron.authorizedPickups">The following are authorized to apply and pickup food on behalf of {{patron.personal.name}}</p>
                        <mat-chip-list class="full-width  bottom-pad" *ngIf="patron.authorizedPickups">
                            <mat-chip disabled class="black-text" *ngFor="let pickup of patron.authorizedPickups">{{pickup}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let patron; columns: columnsToDisplay;"
        class="element-row"
        [class.expanded-row]="expandedElement === patron"
        (click)="expandedElement = expandedElement === patron ? null : patron">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>